<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.animals.mapper.AdoptMapper">
  <resultMap id="BaseResultMap" type="com.example.animals.pojo.Adopt">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="animal_id" jdbcType="BIGINT" property="animalId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="eva_num" jdbcType="INTEGER" property="evaNum" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
</mapper>