<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.animals.mapper.CommunityMapper">
  <resultMap id="BaseResultMap" type="com.example.animals.pojo.Community">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="adopt_id" jdbcType="BIGINT" property="adoptId" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="img_urls" jdbcType="VARCHAR" property="imgUrls" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
  </resultMap>
</mapper>