<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.animals.mapper.OrderShipMapper">
  <resultMap id="BaseResultMap" type="com.example.animals.pojo.OrderShip">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="order_id" jdbcType="BIGINT" property="orderId" />
    <result column="order_item_id" jdbcType="BIGINT" property="orderItemId" />
  </resultMap>

  <delete id="deleteOrderShipAndOrderItem" parameterType="java.lang.Long">
    DELETE os,o,oi FROM t_order_ship as os inner join t_order_item as oi inner join t_orders o on o.id=os.order_id and os.order_item_id=oi.id
    WHERE
    <if test="id != null">
       o.id=#{id}
    </if>
  </delete>
</mapper>